<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Header Section * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Replace this section with your header * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header>
    <div>TP1-Mazur Jakub</div>
    <nav>
        <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
    </nav>
</header>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
