.footer-container {
    background: linear-gradient(to bottom, #67C3F3, #5A98F2); /* Dégradé de vert clair à vert foncé */
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1rem;
  }