footer{
  background: linear-gradient(to top, #67C3F3, #5A98F2);
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
}

.left {
  width: 33%;
}

.right {
  width: 66%;
}


@media screen and (min-width: 1200px) {
  .app-trafalgar {
      margin: 5em;
  }
}

@media screen and (max-width: 600px) {
  .app-trafalgar {
      width: 50%;
  }

  .app-footer-information {
      margin-top: 2em;
  }
}
