<div class="container">
  <p>Bienvenue sur la Home Page des Destinations</p>
  <h2>Les voyages possibles</h2>

  <div class="destinations-container">
    @if (voyages.length > 0) {
      @for (voyage of getPaginatedVoyages(); track voyage.id) {
        <div class="destination-card">
          <h3>{{ voyage.destination }}</h3>
          <p>{{ voyage.description }}...</p>
          <p class="price">{{ voyage.prix}} €</p>
          <div class="actions">
            <button (click)="onDestinationClick(voyage.id)">Voir les détails</button>
            <button (click)="onDeleteClick(voyage.id)">Supprimer</button>
          </div>
        </div>
      }

      <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 0">Précédent</button>
        <span>Page {{ currentPage + 1 }} / {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages - 1">Suivant</button>
      </div>
    } @else {
      <div class="no-voyage-message">
        <p>Aucun voyage n'est présent pour le moment.</p>
      </div>
    }
  </div>

  @if (showDialog) {
    <div class="overlay">
      <div class="modal">
        <h2>Navigation</h2>
        <p>Vous allez naviguer vers la destination {{ getVoyageById(selectedID)?.destination }}, êtes-vous sûr ?</p>
        <button (click)="onNavigation()">Oui</button>
        <button (click)="onDialogClose()">Annuler</button>
      </div>
    </div>
  }
</div>