header {
  padding-block: 10px;
  color: white; 
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.main-logo {
  text-decoration: none;
  font-weight: bold;
  font-size: x-large;
  color: white; 
}

.main-logo:hover {
  color: rgb(255, 208, 0); 
}

.current {
  color: rgb(255, 208, 0); 
}

nav a {
  text-decoration: none;
  color: white; 
}

nav a:hover {
  color: rgb(255, 208, 0); 
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.main-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.logo {
  width: 30px; 
  height: auto;
}