header {
  padding-block: 10px;
  color: white; /* Couleur par défaut pour le texte dans le header */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.main-logo {
  text-decoration: none;
  font-weight: bold;
  font-size: x-large;
  color: white; /* Couleur blanche pour le logo */
}

.main-logo:hover {
  color: rgb(255, 208, 0); /* Couleur au survol */
}

.current {
  color: rgb(255, 208, 0); /* Couleur pour la page actuelle */
}

nav a {
  text-decoration: none;
  color: white; /* Couleur blanche pour les liens de navigation */
}

nav a:hover {
  color: rgb(255, 208, 0); /* Couleur au survol */
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.main-logo {
  display: flex;
  align-items: center;
  gap: 8px; /* Espacement entre le logo et le texte */
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.logo {
  width: 30px; /* Ajuste la taille selon ton besoin */
  height: auto;
}